.header {
    background-color: #f1c695;
    color: #633000;
    padding: 17px;
    font-family: 'Lucida Handwriting';
    display: flex;
    justify-content: center;
}

.topnav {
    background-color: #633000;
    overflow: hidden;
  }
  
  <!--style links in navbar-->
  .topnav a {
    float: left;
    display: block;
    color: #f1c695;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 20px;
  }
  
  <!--Change colour of links while hovering over-->
  .topnav a:hover {
    background-color: #ffffff7a;
    color: #633000;
  }
  
  <!--Highlight current page-->
  .topnav a.active {
    background-color: #ffffff;
    color: #633000;
  }
  
  <!--Hide link for phones-->
  .topnav .icon {
    display: none;
  }
  <!--Hides all links except Home when screen is less tham 768 pixels wide, shows icon link that can open and close topnav-->
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  <!--Displays links vertically on screens less than 768 pixels in width-->
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }